body {
    margin: 0;
    background-color: #1D1D1D;
    text-align: center;
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18;
}

.topnav {
    background-color: #1D1D1D;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.topnav a {
    color: white;
    text-decoration: none;
    float: left;
    font-size: 20;
    padding: 16px;
    text-align: center;    
}

.topnav a:hover {
    background-color: #CFCFCF;
    color: #1D1D1D;
    text-shadow: 1.5px 1.5px 1.5px rgba(29,29,29,0.3);
}
.topnav a.active {
    background-color: 436850;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,0.3);
}

main {
    padding: 10px;
    background-color: #1D1D1D;
    color: white;
    width: 85vw;
    margin: auto;
    border-left: 2px solid #1D1D1D;
    border-right: 2px solid #1D1D1D;
    flex: 1;
}


footer {
    width: 100%;
    background-color: #1D1D1D;
    color: white;
    justify-content: center;
    margin: auto;
    font-family: 'Arial';
    font-size: 20;
}

.bottomtext {
    display: flex;
    justify-content: right;
    margin-right: 50;
}

.left {
    width: 100px
}

.right {
    width: 100px
}

.bottomtext a:link {
    color: white;
    text-decoration: none;
}

.bottomtext a:visited {
    color: white;
    text-decoration: none;
}

.bottomtext a:hover {
    color: grey;
    text-decoration: none;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    column-gap: 10px;
    padding: 15px;
    background-color: #292929;
    width: 80vw;
    margin: auto;
    border: 2px solid #636363;
    border-radius: 7px;
    flex: 1;
    text-align: left;
    margin-bottom: 10px;
}

.projects a:link {
    color: white;
    font-size: 20px;
}

.projects a:visited {
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.projects a:hover {
    color: rgb(189, 189, 189);
    text-decoration: none;
    font-size: 20px;
}

img {
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

