body {
    margin: 0;
    background-color: #FBFADA;
    text-align: center;
    font-family: 'Arial';
}

.topnav {
    background-color: #1D1D1D;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.topnav a {
    color: white;
    text-decoration: none;
    float: left;
    font-size: 18;
    padding: 16px;
    text-align: center;    
}

.topnav a:hover {
    background-color: #CFCFCF;
    color: #1D1D1D;
    text-shadow: 1.5px 1.5px 1.5px rgba(29,29,29,0.3);
}
.topnav a.active {
    background-color: 436850;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,0.3);
}

main {
    padding: 10px;
    background-color: #ADBC9F;
    width: 85vw;
    margin: -2 auto;
    border: 2px solid #1D1D1D;
}

.alert {
    padding: 0px auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #F6F5A4; 

}

footer {
    background-color: #1D1D1D;
    color: white;
    display: flex;
    justify-content: center;
    flex-grow: 4;
    margin: auto;
}

