body {
    margin: 0;
    background: powderblue;
    text-align: center;
    font-family: 'Times New Roman';
}

.topnav {
    background-color: 1D1D1D;
    overflow: hidden;
}

.topnav a {
    color: white;
    text-decoration: none;
    float: left;
    font-size: 18;
    padding: 16px;
    text-align: center;    
}

.topnav a:hover {
    background-color: CFCFCF;
    color: 1D1D1D;

}
.topnav a.active {
    background-color: 1EBA6C;
    color: white;
}

